$backgroundColor: #ffffff;
$bodyColor: #000000;

body {
  margin: 0;
  padding: 0;
  background: $backgroundColor;
  color: $bodyColor;
}

a {
  color: #101010;
  text-decoration: none;
}

h1 {
  font-size : 16px;
}

.inline {
  display: inline;
}





