header {  display: flex; }

.site-header {
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
}

.navi-menus { 
    display: flex;
    list-style-type: none; 
}

.menu { 
	display: list-item; 
	letter-spacing: 0.25px; 
	color: #101010;
}

/* desktop */
@media (min-width:621px){
    header { flex-direction: row;}
    span.title { width: 20%; font-size: 20px; }
    .site-navi { width: 80%; }
    .navi-menus {
        justify-content: flex-end;
        align-content: space-around;
    }
    .menu {
        font-size: 1.2rem;
        padding: 0 10px;
    }
}

/* moblie */
@media (max-width:620px){
    header { flex-direction: column; }
    span.title { font-size: 1.4rem; }
    .navi-menus {  
        overflow-x: scroll;
        justify-content: flex-start;
        align-content: space-around;
    }
    .menu {
        font-size: 1.2rem;
        padding: 0 0.4rem;
    }
}
  
.contents-area {
    max-width: 1200px;
    margin : auto;
    padding : 20px;
}