<!DOCTYPE html>
<html lang="ko">
<head>
    {% include head.html %}
<link rel="stylesheet" href="{{ '/assets/css/navigation.css' | relative_url }}">
</head>
<body>
  <div class="wrapper">

    <div class="site-header">
      <header class="contents-area">
        <span class="title">
          <a href="/">{{ site.title }}</a>
        </span> 
        {% include nav.html %}
      </header>
    </div>

    <div class="site-content">
      <main class="contents-area">
      {{ content }}
      </main>
    </div>

    {% include footer.html %}

    {% include scripts.html %}
  </div>
</body>

</html>

